.Cockpit {
  padding-top: 10px;
  text-align: center;
  background-color: hotpink;
}

.red {
    color: red;
  }
  
.bold {
    font-weight: bold;
  }

/* every button inside Cockpit classs will have this effect*/
.Cockpit button{
    background-color: red;
    color: white;
    padding: 10px;
  }
  
.Cockpit button:hover{
    background-color: salmon;
    color: grey;
} 

/*Inside App class any button with a Green class ma chaheh yo implement huncha*/
.Cockpit button.Green{ 
    background-color: lightgreen;
}

.Cockpit button.Green:hover{
    background-color: greenyellow;
}